{%set className= model.name | upperCamelCase%}
{%-set lowerCamelModelName= model.name | lowerCamelCase-%}
{%-set funcParams= model.field | mapFuncParams-%}
{%-set funcArgs= model.field | mapFuncArgs-%}
{%-set funcArgsByObjDict= model.field | mapFuncArgs('obj', 'function', ':')-%}
{%-set funcArgsByDict= model.field | mapFuncArgs('dataDict', 'dictionary')-%}
{%-set funcArgsByDbObj= model.field | mapFuncArgs('dbObject')-%}
{%-set funcArgsByItem= model.field | mapFuncArgs('x')-%}
{%-set classNameWords= model.name | spacedWords%}
{%-set filePath= model.path | replace('/', '.')%}

{% extends "./proto/model_app.jinja2" %}
{% block appServiceModelByForeignModelId %}
  {%- for segmentItem in segment %}
    {%- if model.name == segmentItem.name %}
      {%- if 'foreign' in segmentItem %}
      {%-set foreignModelName = segmentItem.foreign.model.name | upperCamelCase%}
  rpc {{ model.name | pluralize }}_by_{{ segmentItem.foreign.model.name }}_id ({{ className }}AppService_{{ lowerCamelModelName | pluralize }}By{{ foreignModelName }}IdRequest) returns ({{ className }}AppService_{{ lowerCamelModelName | pluralize }}By{{ foreignModelName }}IdResponse) {}
      {%- endif %}
    {%- endif %}
  {%- endfor %}
{% endblock %}

{% block requestAndResponseModelByForeignModelId %}
  {%- for segmentItem in segment %}
    {%- if model.name == segmentItem.name %}
      {%- if 'foreign' in segmentItem %}
      {%-set foreignModelName = segmentItem.foreign.model.name | upperCamelCase%}

message {{ className }}AppService_{{ lowerCamelModelName | pluralize }}By{{ foreignModelName }}IdRequest {
  string {{segmentItem.foreign.model.name}}_id = 1;
  int32 result_from = 2;
  int32 result_size = 3;
  repeated cafm.common.order.Order orders = 4;
}

message {{ className }}AppService_{{ lowerCamelModelName | pluralize }}By{{ foreignModelName }}IdResponse {
  repeated {{ className }} {{model.name | pluralize }} = 1;
  int32 total_item_count = 2;
}
      {%- endif %}
    {%- endif %}
  {%- endfor %}
{% endblock %}