{%set className= model.name | upperCamelCase%}
{%-set lowerCamelModelName= model.name | lowerCamelCase-%}
{%-set funcParams= model.field | mapFuncParams-%}
{%-set funcArgs= model.field | mapFuncArgs-%}
{%-set funcArgsLowerCase= model.field | mapFuncArgsLowerCase-%}
{%-set funcArgsByObj= model.field | mapFuncArgs('obj', 'function')-%}
{%-set funcArgsByObjLowerCase= model.field | mapFuncArgsLowerCase('obj', 'function')-%}
{%-set funcArgsByDbObj= model.field | mapFuncArgs('dbObject')-%}
{%-set funcArgsByDbObjLowerCase= model.field | mapFuncArgsLowerCase('dbObject')-%}
{%-set funcArgsByItem= model.field | mapFuncArgs('x')-%}
{%-set funcArgsByItemLowerCase= model.field | mapFuncArgsLowerCase('x')-%}
{%-set classNameWords= model.name | spacedWords%}
{%-set filePath= model.path | replace('/', '.')%}
    @singleton
    @provider
    def provide{{ className }}ApplicationService(self) -> {{ className }}ApplicationService:
        return {{ className }}ApplicationService(repo=self.__injector__.get({{ className }}Repository), {{ model.name | lowerCamelCase }}Service=self.__injector__.get({{ className }}Service), {%- for field in model.field -%}
        {%- if 'foreign' in field and 'model' in field.foreign and 'name' in field.foreign.model -%}
            {%-set foreignModel = field.foreign.model-%}
            {{ foreignModel.name | lowerCamelCase }}Repo=self.__injector__.get({{ foreignModel.name | upperCamelCase }}Repository),
        {%- endif -%}
    {%- endfor -%})